<main role="main" class="container-fluid workplace-bg">

  <div class="starter-template">
    <h2 class="heading">About our team</h2>

    <div class="container-fluid content-grid">
      <div class="row grid-row-1">
        <div class="col-sm">Professionals with each of us having more than 15 years of active working expirience in software projects in various
          industries. Our strenght is the common working experience and collaboration that we have been sharing working together,
          and in the same time the unique individual knowledge and specialities, making possibe to cover a broad spectrum
          of expertise
        </div>
      </div>
    </div>

    <div class="container-fluid content-grid">
        <div class="row grid-row-2">
            <div class="col-sm">Contacts:</div>
        </div>
        <div class="row grid-row-1">
            <div class="col-sm">18 Radi Radev str. Sofia, Bulgaria</div>
        </div>
        <div class="row grid-row-2">
            <div class="col-sm">+359885802429</div>
        </div>
    </div>

  </div>

</main>