<main role="main" class="container-fluid workplace-bg" id="fullstack-software-about">

  <div class="starter-template">
    <h1 class="heading">{{ 'about.h1' | translate }}</h1>

    <div class="container-fluid content-grid">
      <div class="row grid-row-1">
        <div class="col-sm">{{ 'about.t1' | translate }}</div>
      </div>
    </div>

    <div class="container-fluid content-grid">
        <div class="row grid-row-1">
            <div class="col-sm">{{ 'about.c1' | translate }}</div>
        </div>
        <div class="row grid-row-1">
            <div class="col-sm">{{ 'about.c2' | translate }}</div>
        </div>
        <div class="row grid-row-1">
          <div class="col-sm">info@fullstack-software.com</div>
      </div>
        <div class="row grid-row-1">
            <div class="col-sm">+359885802429</div>
        </div>
    </div>

  </div>

</main>