<main role="main" class="container-fluid workplace-bg">

  <div class="starter-template">
    <h2 class="heading">{{ 'about.h2' | translate }}</h2>

    <div class="container-fluid content-grid">
      <div class="row grid-row-1">
        <div class="col-sm">{{ 'about.t1' | translate }}</div>
      </div>
    </div>

    <div class="container-fluid content-grid">
        <div class="row grid-row-1">
            <div class="col-sm">{{ 'about.c1' | translate }}</div>
        </div>
        <div class="row grid-row-1">
            <div class="col-sm">{{ 'about.c2' | translate }}</div>
        </div>
        <div class="row grid-row-1">
            <div class="col-sm">+359885802429</div>
        </div>
    </div>

  </div>

</main>