<main role="main" class="container-fluid workplace-bg">
  <div class="starter-template">
    <h2 class="heading">Application domains</h2>
    <h3 class="heading">Representative industries and domains where we have been active</h3>
    
    <div class="container-fluid content-grid">
      <div class="row grid-row-1">
        <div class="col-sm">Business Process Management</div>
        <div class="col-sm"> Automotive</div>
        <div class="col-sm">Semantic Web</div>
      </div>
      <div class="row grid-row-2">
        <div class="col-sm">Business Intelligence</div>
        <div class="col-sm">eCommerce</div>
        <div class="col-sm">Automated Decision Management</div>
      </div>
      <div class="row grid-row-1">
        <div class="col-sm">Telecommunications</div>
        <div class="col-sm">Games</div>
        <div class="col-sm">Marketing and Sales</div>
      </div>
      <div class="row grid-row-2">
        <div class="col-sm">Dealer Management Systems</div>
        <div class="col-sm">Online Travel Booking</div>
        <div class="col-sm">CMS</div>
      </div>
      <div class="row grid-row-1">
        <div class="col-sm">Performance Optimisation & Testing</div>
      </div>
    </div>
  </div>
</main>