<main role="main" class="container-fluid workplace-bg" id="fullstack-software-domains">
  <div class="starter-template">
    <h2 class="heading">{{ 'domains.h2' | translate }}</h2>
    <h3 class="heading">{{ 'domains.h3' | translate }}</h3>
    
    <div class="container-fluid content-grid">
      <div class="row grid-row-1">
        <div class="col-sm">{{ 'domains.t1' | translate }}</div>
        <div class="col-sm">{{ 'domains.t2' | translate }}</div>
        <div class="col-sm">{{ 'domains.t3' | translate }}</div>
      </div>
      <div class="row grid-row-2">
        <div class="col-sm">{{ 'domains.t4' | translate }}</div>
        <div class="col-sm">{{ 'domains.t5' | translate }}</div>
        <div class="col-sm">{{ 'domains.t6' | translate }}</div>
      </div>
      <div class="row grid-row-1">
        <div class="col-sm">{{ 'domains.t7' | translate }}</div>
        <div class="col-sm">{{ 'domains.t8' | translate }}</div>
        <div class="col-sm">{{ 'domains.t9' | translate }}</div>
      </div>
      <div class="row grid-row-2">
        <div class="col-sm">{{ 'domains.t10' | translate }}</div>
        <div class="col-sm">{{ 'domains.t11' | translate }}</div>
        <div class="col-sm">{{ 'domains.t12' | translate }}</div>
      </div>
      <div class="row grid-row-1">
        <div class="col-sm">Performance Optimisation & Testing</div>
      </div>
    </div>
  </div>
</main>