<main role="main" class="container">

    <div class="starter-template">
        <h3>Select processes, methods and tools for specific project environment</h3>
    </div>

  <div class="container">
      <p class="font-weight-bold">We evaluate how much and how to involve the client in the process depending on the client's domain knowledge and decision power</p>
      <p class="font-weight-bold">We estimate how much planning is optimal depending on the project's predictability</p>
      <p class="font-weight-bold">We try to balance between the complexity, maintainability and usability of software models</p>
      <p class="font-weight-bold">We choose the appropriate software development process (XP, Scrum, Waterfall, or custom) depending on complexity and change factor</p>
  </div>
</main>
