<main role="main" class="container-fluid source-bg">

    <div class="starter-template">
        <h2 class="heading">Managing of complexity and uncertainty </h2>
        <h3 class="heading">Select processes, methods and tools for specific project environment</h3>

        <div class="container-fluid content-grid">
                <div class="row grid-row-1">
                  <div class="col-sm">Evaluate how much and how to involve the client in the process depending on the client's domain knowledge and decision power</div>
                </div>
                <div class="row grid-row-2">
                  <div class="col-sm">Estimate how much planning is optimal depending on the project's predictability</div>
                </div>
                <div class="row grid-row-1">
                  <div class="col-sm">Try to balance between the complexity, maintainability and usability of software models</div>
                </div>
                <div class="row grid-row-2">
                  <div class="col-sm">Choose the appropriate software development process (XP, Scrum, Waterfall, or custom) depending on complexity and change factor</div>
                </div>
            </div>
    </div>

</main>
