<main role="main" class="container-fluid source-bg" id="fullstack-software-methodology">

  <div class="starter-template">
    <h1 class="heading">{{ 'methodology.h1' | translate }}</h1>
    <h2 class="heading">{{ 'methodology.h2' | translate }}</h2>

    <div class="container-fluid content-grid">
      <div class="row grid-row-1">
        <div class="col-sm">{{ 'methodology.t1' | translate }}</div>
      </div>
      <div class="row grid-row-2">
        <div class="col-sm">{{ 'methodology.t2' | translate }}</div>
      </div>
      <div class="row grid-row-1">
        <div class="col-sm">{{ 'methodology.t3' | translate }}</div>
      </div>
      <div class="row grid-row-2">
        <div class="col-sm">{{ 'methodology.t4' | translate }}</div>
      </div>
    </div>
  </div>

</main>