<main role="main" class="container-fluid source-bg">
  <div class="starter-template">
    <h2>Technology stack</h2>
    <h3>Representative technologies that have been used in our projects</h3>

    <div class="container-fluid content-grid">
        <div class="row grid-row-1">
          <div class="col-sm">Architectural Methods and Styles</div>
          <div class="col-sm">SOA, Microservices, Message-oriented systems, Enterprise Integration, Multi-tenancy, Scalability</div>
        </div>
        <div class="row grid-row-2">
          <div class="col-sm">Programming Languages</div>
          <div class="col-sm">Java, Scala, C, C++, C#, PHP, JavaScript</div>
        </div>
        <div class="row grid-row-1">
          <div class="col-sm">Databases & Caching</div>
          <div class="col-sm">Relational & NoSQL databases, replicated & distributed caches</div>
        </div>
        <div class="row grid-row-2">
          <div class="col-sm">Testing</div>
          <div class="col-sm">Unit testing, Integration Testing, Automation Testing</div>
        </div>
        <div class="row grid-row-1">
          <div class="col-sm">DevOps</div>
          <div class="col-sm">Jenkins, Docker, OpenShift, Artifactory</div>
        </div>
        <div class="row grid-row-2">
          <div class="col-sm">Cloud Computing & Big Data</div>
          <div class="col-sm">Salesforce, AWS, Microsoft Azure, Hadoop</div>
        </div>
      </div>
    </div>
</main>