<div class="starter-template">
    <h3>Technology stack</h3>
    <h4>Representative technologies that have been used in our projects</h4>
</div>

<div class="container">
    <table class="table table-bordered table-striped table-hover">
        <tbody>
          <tr>
            <td class="font-weight-bold">Architectural Methods and Styles</td>
            <td>SOA, Web Services, Microservices, Message-oriented systems, Enterprise Integration, Multi-tenancy, Scalability</td>
          </tr>
          <tr>
            <td class="font-weight-bold">Programming Languages</td>
            <td>Java, Scala, C, C++, C#, PHP, JavaScript</td>
          </tr>
          <tr>
            <td class="font-weight-bold">JEE</td>
            <td>Servlet, JSP, JSF, JAX-RS, JAX-WS, JSON-P, JPA, JTA, JMS, Dependency Injection, etc.</td>
          </tr>
          <tr>
            <td class="font-weight-bold">Databases & Caching</td>
            <td>Relational (Oracle, PostgreSQL, MySQL), NoSQL (CouchDB, MongoDB), Caches (Ehcache, Redis)</td>
          </tr>
          <tr>
            <td class="font-weight-bold">Messaging</td>
            <td>RabbitMQ, Spread toolkit</td>
          </tr>
          <tr>
            <td class="font-weight-bold">Meta/Markup-Languages & Formats</td>
            <td>HTML, XML, XPath, XPointer, RDF, OWL, SOAP, JSON</td>
          </tr>
          <tr>
            <td class="font-weight-bold">Big data</td>
            <td>Hadoop</td>
          </tr>
          <tr>
            <td class="font-weight-bold">Additional Technologies & Frameworks</td>
            <td>Oracle ADF, NetBeans, Spring Framework, Spring Boot, Hibernate, Apache Trinidad, GWT, DWR, Apache Thrift, Jersey JAX-RS, Hessian, AngularJS, Dynatrace</td>
          </tr>
          <tr>
            <td class="font-weight-bold">Testing</td>
            <td>Unit testing (JUnit, Mockito, PowerMock, CppUnit), Integration Testing (Spring-test), Automation (Selenium)</td>
          </tr>
          <tr>
            <td class="font-weight-bold">Build tools</td>
            <td>Ivy, Ant, Maven, Gradle</td>
          </tr>
          <tr>
            <td class="font-weight-bold">DevOps</td>
            <td>Jenkins, Docker, OpenShift, Artifactory</td>
          </tr>
          <tr>
            <td class="font-weight-bold">Cloud Computing</td>
            <td>Salesforce, AWS, Microsoft Azure</td>
          </tr>
          <tr>
            <td class="font-weight-bold">BlockChain</td>
            <td>Ethereum</td>
          </tr>
        </tbody>
    </table>
</div>
