<main role="main" class="container-fluid source-bg">
  <div class="starter-template">
    <h2 class="heading">{{ 'technologies.h2' | translate }}</h2>
    <h3 class="heading">{{ 'technologies.h3' | translate }}</h3>

    <div class="container-fluid content-grid">
        <div class="row grid-row-1">
          <div class="col-sm">{{ 'technologies.t1' | translate }}</div>
          <div class="col-sm">{{ 'technologies.t2' | translate }}</div>
        </div>
        <div class="row grid-row-2">
          <div class="col-sm">{{ 'technologies.t3' | translate }}</div>
          <div class="col-sm">{{ 'technologies.t4' | translate }}</div>
        </div>
        <div class="row grid-row-1">
          <div class="col-sm">{{ 'technologies.t5' | translate }}</div>
          <div class="col-sm">{{ 'technologies.t6' | translate }}</div>
        </div>
        <div class="row grid-row-2">
          <div class="col-sm">{{ 'technologies.t7' | translate }}</div>
          <div class="col-sm">{{ 'technologies.t8' | translate }}</div>
        </div>
        <div class="row grid-row-1">
          <div class="col-sm">{{ 'technologies.t9' | translate }}</div>
          <div class="col-sm">{{ 'technologies.t10' | translate }}</div>
        </div>
        <div class="row grid-row-2">
          <div class="col-sm">{{ 'technologies.t11' | translate }}</div>
          <div class="col-sm">{{ 'technologies.t12' | translate }}</div>
        </div>
      </div>
    </div>
</main>