<main role="main" class="container-fluid workplace-bg">

  <div class="starter-template">
    <h2 class="heading">What we can do</h2>
    <h3 class="heading">Overview of the types of services we provide</h3>

    <div class="container-fluid content-grid">
      <div class="row grid-row-1">
        <div class="col-sm">Integration into existing systems and projects</div>
      </div>
      <div class="row grid-row-2">
        <div class="col-sm">Developing of new systems from scratch based on customer requirements</div>
      </div>
      <div class="row grid-row-1">
        <div class="col-sm">Integration or building up specific phases of the software development cycle like Performance Optimisation, DevOps,
          Testing, etc.</div>
      </div>
      <div class="row grid-row-2">
        <div class="col-sm">Reverse engineering of existing systems</div>
      </div>
      <div class="row grid-row-1">
        <div class="col-sm">Consulting activities for existing or future projects</div>
      </div>
    </div>
  </div>

</main>