<main role="main" class="container-fluid workplace-bg" id="fullstack-software-services">

  <div class="starter-template">
    <h1 class="heading">{{ 'services.h1' | translate }}</h1>
    <h2 class="heading">{{ 'services.h2' | translate }}</h2>

    <div class="container-fluid content-grid">
      <div class="row grid-row-1">
        <div class="col-sm">{{ 'services.t1' | translate }}</div>
      </div>
      <div class="row grid-row-2">
        <div class="col-sm">{{ 'services.t2' | translate }}</div>
      </div>
      <div class="row grid-row-1">
        <div class="col-sm">{{ 'services.t3' | translate }}</div>
      </div>
      <div class="row grid-row-2">
        <div class="col-sm">{{ 'services.t4' | translate }}</div>
      </div>
      <div class="row grid-row-1">
        <div class="col-sm">{{ 'services.t5' | translate }}</div>
      </div>
    </div>
  </div>

</main>