<main role="main" class="container-fluid source-bg" id="fullstack-software-nearshoring">
    
  <div class="starter-template">
    <h2 class="heading">{{ 'nearshoring.h2' | translate }}</h2>
    <h3 class="heading">{{ 'nearshoring.h3' | translate }}</h3>

    <div class="container-fluid content-grid">
      <div class="row grid-row-1">
        <div class="col-sm">{{ 'nearshoring.t1' | translate }}</div>
      </div>
      <div class="row grid-row-2">
        <div class="col-sm">{{ 'nearshoring.t2' | translate }}</div>
      </div>
      <div class="row grid-row-1">
        <div class="col-sm">{{ 'nearshoring.t3' | translate }}</div>
      </div>
    </div>
  </div>

</main>