<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Fullstack Software</a>
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }" id="navbarsExampleDefault" >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a (click)="hideNavbar()" class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{ 'home.title' | translate }}</a>
      </li>
      <!-- <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="servicesDropdown" ngbDropdownToggle>{{ 'services.title' | translate }}</a>
        <div class="dropdown-menu" aria-labelledby="servicesDropdown" ngbDropdownMenu>
            <a class="dropdown-item" routerLink="methodology" routerLinkActive="active">{{ 'methodology.title' | translate }}</a>
          </div>
      </li> -->
      <li class="nav-item">
          <a (click)="hideNavbar()" class="nav-link" routerLink="services" routerLinkActive="active">{{ 'services.title' | translate }}</a>
        </li>
      <li class="nav-item">
          <a (click)="hideNavbar()" class="nav-link" routerLink="methodology" routerLinkActive="active">{{ 'methodology.title' | translate }}</a>
        </li>
      <li class="nav-item">
        <a  (click)="hideNavbar()" class="nav-link" routerLink="domains" routerLinkActive="active">{{ 'domains.title' | translate }}</a>
      </li>
      <li class="nav-item">
        <a  (click)="hideNavbar()" class="nav-link" routerLink="technologies" routerLinkActive="active">{{ 'technologies.title' | translate }}</a>
      </li>
      <li class="nav-item">
        <a  (click)="hideNavbar()" class="nav-link" routerLink="about" routerLinkActive="active">{{ 'about.title' | translate }}</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="people" routerLinkActive="active">{{ 'team.title' | translate }}</a>
      </li> -->
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="langDropdown" ngbDropdownToggle>{{ 'language.title' | translate }}</a>
        <div class="dropdown-menu" aria-labelledby="langDropdown" ngbDropdownMenu>
          <a class="dropdown-item"  (click)="useLanguage('en')">{{ 'language.en' | translate }}</a>
          <a class="dropdown-item"  (click)="useLanguage('de')">{{ 'language.de' | translate }}</a>
         <!-- <a class="dropdown-item" href="#">Vue.js</a> -->
        </div>
      </li>
    </ul>
    <!-- <select class="selectpicker" data-width="fit" (change)="changeLanguage($event.target.value)">
      <option data-content='<span class="flag-icon flag-icon-us"></span> English'>en</option>
      <option  data-content='<span class="flag-icon flag-icon-mx"></span> Español'>de</option>
    </select> -->
    <!--<form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>