body {
    padding-top: 50px; 
 }
 .starter-template {
     padding: 3rem 1.5rem;
     text-align: center;
 }

 .content-grid {
    padding-top: 50px; 
 }

 .source-bg {
    background:url('assets/img/source2.png');
    background-repeat: no-repeat;   
    background-size: cover;
    width:100%;
    min-height: 1200px;
}

.workplace-bg {
    background:url('assets/img/workplace2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    min-height:1200px;
}

.heading {
    color: whitesmoke;
}

.grid-row-1 {
    text-align: center;
    color: whitesmoke;
    font-size: 150%;
}

.grid-row-2 {
    text-align: center;
    color: wheat;
    font-size: 150%;
}