<main role="main" class="container-fluid source-bg">
    
  <div class="starter-template">
    <h2 class="heading">Full stack software development</h2>
    <h3 class="heading">Design new or extend existing software systems</h3>
    <h4 class="heading">Requirements Elicitation, Analysis, System Design, Detailed Design, Implementation, Testing</h4>

    <div class="container-fluid content-grid">
      <div class="row grid-row-1">
        <div class="col-sm">We are specialists with longtime experience in software development in various application domains</div>
      </div>
      <div class="row grid-row-2">
        <div class="col-sm">We integrate well into existing projects, including large-scale legacy systems</div>
      </div>
      <div class="row grid-row-1">
        <div class="col-sm">We develop new systems from scratch and offer long-term maintenance and support</div>
      </div>
      <div class="row grid-row-2">
        <div class="col-sm">We select the most appropriate software development process depending on the project specifics</div>
      </div>
      <div class="row grid-row-1">
        <div class="col-sm">We know how to deal with the challange of building high-quality software systems under constanty changing requirements, strictly considering deadlines and budget</div>
      </div>
    </div>
  </div>

</main>