<main role="main" class="container-fluid source-bg" id="fullstack-software-home">
    
  <div class="starter-template">
    <h1 class="heading">{{ 'home.h1' | translate }}</h1>
    <h2 class="heading">{{ 'home.h2' | translate }}</h2>
    <h3 class="heading">{{ 'home.h3' | translate }}</h3>

    <div class="container-fluid content-grid">
      <div class="row grid-row-1">
        <div class="col-sm">{{ 'home.t1' | translate }}</div>
      </div>
      <div class="row grid-row-2">
        <div class="col-sm">{{ 'home.t2' | translate }}</div>
      </div>
      <div class="row grid-row-1">
        <div class="col-sm">{{ 'home.t3' | translate }}</div>
      </div>
      <div class="row grid-row-2">
        <div class="col-sm">{{ 'home.t4' | translate }}</div>
      </div>
      <div class="row grid-row-1">
        <div class="col-sm">{{ 'home.t5' | translate }}</div>
      </div>
      <div class="row grid-row-2">
        <div class="col-sm">{{ 'home.t6' | translate }}</div>
      </div>
    </div>
  </div>

</main>