<main role="main" class="container">
    
  <div class="starter-template">
    <h2>Full stack software development</h2>
    <h3>Design new or extend existing software systems</h3>
  </div>

  <div class="container">
    <p class="font-weight-bold">We are specialists with longtime experience in software development in various application domains. </p>
    <p class="font-weight-bold">We integrate well into existing projects, including large-scale legacy systems.</p>
    <p class="font-weight-bold">We develop new systems from scratch and offer long-term maintenance and support.</p>
    <p class="font-weight-bold">We select the most appropriate software development process depending on the project specifics.</p>
    <p class="font-weight-bold">We know how to deal with the challange of building high-quality software systems under constanty changing requirements, strictly considering deadlines and budget.</p>
  </div>

</main>